{% extends 'base.html' %}

{% block page_title %}Registrar Aves{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card p-4 shadow-sm border-0 bg-white rounded">
        <h3 class="mb-4 text-primary">Registrar Nuevo Lote de Aves</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="mt-4">
                <button type="submit" class="btn btn-success px-4">Guardar Registro</button>
                <a href="{% url 'avicola:lista_aves' %}" class="btn btn-outline-secondary px-4 ms-2">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
